:root {
	--C0: #000;
	--C1: #00A;
	--C2: #0A0;
	--C3: #0AA;
	--C4: #A00;
	--C5: #A0A;
	--C6: #A50;
	--C7: #AAA;
	--C8: #555;
	--C9: #55F;
	--CA: #5F5;
	--CB: #5FF;
	--CC: #F55;
	--CD: #F5F;
	--CE: #FF5;
	--CF: #FFF;
	--V0: 0%;
	--V5: calc(100% * (1 / 3));
	--VA: calc(100% * (2 / 3));
	--VF: 100%;
	--CONTAINER-SPACE: 3rem;
}

.f0 { filter: brightness(var(--V0)) saturate(var(--V0)) hue-rotate(0deg); /* f0*/ }
.f1 { filter: brightness(var(--VA)) saturate(var(--VF)) hue-rotate(240deg); /* f1*/ }
.f2 { filter: brightness(var(--VA)) saturate(var(--VF)) hue-rotate(120deg); /* f2*/ }
.f3 { filter: brightness(var(--VA)) saturate(var(--VF)) hue-rotate(180deg); /* f3*/ }
.f4 { filter: brightness(var(--VA)) saturate(var(--VF)) hue-rotate(0deg); /* f4*/ }
.f5 { filter: brightness(var(--VA)) saturate(var(--VF)) hue-rotate(300deg); /* f5*/ }
.f6 { filter: brightness(var(--VA)) saturate(var(--VF)) hue-rotate(30deg); /* f6*/ }
.f7 { filter: brightness(var(--VA)) saturate(var(--V0)) hue-rotate(0deg); /* f7*/ }
.f8 { filter: brightness(var(--V5)) saturate(var(--V0)) hue-rotate(0deg); /* f8*/ }
.f9 { filter: brightness(var(--VF)) saturate(var(--VA)) hue-rotate(240deg); /* f9*/ }
.fa { filter: brightness(var(--VF)) saturate(var(--VA)) hue-rotate(120deg); /* fa*/ }
.fb { filter: brightness(var(--VF)) saturate(var(--VA)) hue-rotate(180deg); /* fb*/ }
.fc { filter: brightness(var(--VF)) saturate(var(--VA)) hue-rotate(0deg); /* fc*/ }
.fd { filter: brightness(var(--VF)) saturate(var(--VA)) hue-rotate(300deg); /* fd*/ }
.fe { filter: brightness(var(--VF)) saturate(var(--VA)) hue-rotate(60deg); /* fe*/ }
.ff { filter: brightness(var(--VF)) saturate(var(--V0)) hue-rotate(0deg); /* ff*/ }

@font-face {
	font-family: 'Fixedsys Excelsior 3.01';
	font-style: normal;
	font-weight: normal;
	src: local('Fixedsys Excelsior 3.01'), url('FSEX300.woff') format('woff');
}

html {
	overflow: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body {
	padding: 0;
	border: 0;
	margin: 0;

	font-family: 'Fixedsys Excelsior 3.01';
	color: var(--CF);
	background-color: var(--C1);
}

body::-webkit-scrollbar {
	display: none;
}

a {
	color: var(--CB);
	text-decoration: none;
}

a:visited {
	color: var(--CB);
}

a:hover {
	color: var(--CB);
	text-decoration: underline;
}

a.external-link {
	background: url('./icons/external_link.svg') center right no-repeat;
	padding-right: 1rem;
}

.center-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: var(--CONTAINER-SPACE);
}

.center-content-head {
	padding: 0.875rem;
	border: 0.125rem solid var(--CF);

	/* width: round(down, 80vw, 1rem); */
	width: round(down, calc(100vw - 2 * var(--CONTAINER-SPACE)), 1rem);
	overflow-wrap: break-word;
	height: auto;
	background-color: var(--C9);
}

.center-content-tail {
	padding: 0.875rem;
	border: 0.125rem solid var(--CF);
	margin-top: var(--CONTAINER-SPACE);

	width: round(down, calc(100vw - 2 * var(--CONTAINER-SPACE)), 1rem);
	overflow-wrap: break-word;
	height: auto;
	background-color: var(--C9);
}

.inline-icon {
	width: 1rem;
	height: 1rem;
	filter: hue-rotate(40);
}

span {
	background-color: var(--CC);
}